.card-wrapper {
	position: relative;
}

.wishlist-card {
	justify-self: center;
	position: relative;
	width: 100%;
}

.btn-icon {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

/* @media only screen and (min-width: 750px) {
	.wishlist-card {
		width: 14rem;
	}
} */
