.home__wrapper {
  margin: 0 1rem;
}

.home__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.grid__item {
  justify-self: center;
  text-align: center;
}

.grid__item img {
  max-width: 100%;
}
