.navbar-component {
  background: #fff;
  color: var(--textgrey);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 7px 6px -6px var(--light-grey1);
  z-index: 5;
  margin-bottom: 1rem;
}

.hamburger-menu__line {
  background: var(--textgrey);
}

.sm {
  width: 1.75rem;
  height: 1.75rem;
}

.fa-heart,
.fa-shopping-bag {
  color: var(--midgrey);
  font-size: 1.75rem;
}

.left {
  display: none;
}

.navbar__list {
  margin-right: 1rem;
}

.cart-wishlist {
  display: none;
}

.navbar__list:nth-child(3) {
  margin-right: 1rem;
}

.nav__category {
  display: none;
}

.nav__category a {
  padding: 0.5rem 0.75rem;
  margin-right: 1.75rem;
}
.notification-badge-wrapper {
  position: absolute;
}

.sidebar__item {
  text-transform: uppercase;
  width: 100%;
}

.sidebar__item:hover {
  background: var(--light-grey1);
}

.avatar-badge,
.notification-badge {
  outline: none;
  bottom: 60%;
  right: -20%;
}

.avatar-badge-container .fa,
.notification-badge-container .fa {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--textgrey);
}

.menu__mobile-none button,
.nav__category button {
  background: transparent;
  border: none;
}

.current-category {
  border-bottom: 3px solid var(--purple);
  color: var(--purple);
  font-weight: 1000;
}

.mobile__current-category {
  color: var(--purple);
  font-weight: 1000;
}
.fa-user {
  color: var(--purple);
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--purple);
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.notification-badge {
  right: -10%;
}

.greet {
  position: relative;
}

.profile-card {
  position: fixed;
  top: 4rem;
  background: #fff;
  right: 1.5rem;
  width: 10rem;
  padding: 0.25rem;
}

.profile-card li,
.profile-card a {
  padding: 0.5rem;
  display: block;
}

.profile-card button {
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .hamburger-menu {
    display: none;
  }

  .nav__category {
    display: flex;
  }
  .mobile-view {
    display: none;
  }
  .cart-wishlist {
    display: block;
  }
  .profile-card {
    right: 9rem;
  }
  .navbar__list {
    margin-right: 1.5rem;
  }
}
