.address-wrapper {
  margin: 0.4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
}

@media only screen and (min-width: 750px) {
  .address-wrapper {
    grid-template-columns: 1fr 0.5fr;
    margin: 0 2rem;
  }
}
